#add for board init.rc for recovery mode
import /init.recovery.common.rc
import /vibrator_X6816D.rc
import /init.itel.common.rc

on post-fs 
    start boot-hal-1-2

on init
    setprop sys.usb.configfs 1
    setprop sys.usb.controller "musb-hdrc"
    setprop sys.usb.ffs.aio_compat 0

on boot
    start health-hal-2-1